.triangle {
  --x: 4;
  --t: 3px; /* Thickness */
  --c: #c5c2c2; /* Color */
  width: calc(6vw * var(--x));
  display: inline-block;
  border: var(--t) solid transparent;
  border-bottom-color: var(--c);
  background:
      /* Left side */ linear-gradient(
        to bottom left,
        transparent 49.5%,
        var(--c) 50% calc(50% + var(--t)),
        transparent calc(50% + var(--t) + 1px)
      )
      right,
    /* right side */
      linear-gradient(
        to bottom right,
        transparent 49.5%,
        var(--c) 50% calc(50% + var(--t)),
        transparent calc(50% + var(--t) + 1px)
      )
      left;
  background-size: 50% 100%;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.triangle:before {
  content: "";
  display: block;
  padding-top: 86.6%;
}
